{% extends "layout.html" %}

{% block body %}

    <h1>Welcome, {{ name }}!</h1>
    
<div class="tickets-container">
    <table class="tickets">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
            <th>Priority</th>
            <th>Edit</th>
            <th>Close</th>
            <th>Solve</th>
            <th>Image</th>
        </tr>
        {% for ticket in tickets %}
        <tr>
        
        {% if ticket[0] == editIndex %}
            <!--------------------------------For when the list is in edit mode------------------------------------>
                <form action="{{ url_for('saveItem') }}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <!--Change title-->
                        <td>
                            <input type="hidden" name="editIndex" value="{{ ticket[0] | safe }}">
                            <input type="text" name="newItem" value="{{ ticket[2] | safe }}">
                        </td>
                    <!--Change description-->
                        <td>
                            <textarea type="text" name="newDescription">{{ ticket[3] | safe }}</textarea>
                        </td>
                    <!--Change status-->
                        <td>
                            <select name="newStatus">
                                <option value="{{ 1 }}" {% if ticket[4] == '1' %}selected{% endif %}>{{ statusDict[1] }}</option>
                                <option value="{{ 2 }}" {% if ticket[4] == '2' %}selected{% endif %}>{{ statusDict[2] }}</option>
                                <option value="{{ 3 }}" {% if ticket[4] == '3' %}selected{% endif %}>{{ statusDict[3] }}</option>
                                <option value="{{ 4 }}" {% if ticket[4] == '4' %}selected{% endif %}>{{ statusDict[4] }}</option>
                                <option value="{{ 5 }}" {% if ticket[4] == '5' %}selected{% endif %}>{{ statusDict[5] }}</option>
                            </select>
                        </td>
                    <!--Change priority-->
                        <td>
                            <select name="newPriority">
                                <option value="{{ priority[0] }}" {% if ticket[5] == 'Low' %}selected{% endif %}>Low</option>
                                <option value="{{ priority[1] }}" {% if ticket[5] == 'Medium' %}selected{% endif %}>Medium</option>
                                <option value="{{ priority[2] }}" {% if ticket[5] == 'High' %}selected{% endif %}>High</option>
                            </select>
                        </td>
                    <!--Submit Button-->
                        <td>
                            <button type="submit" class="save-btn" title="save">Save</button>
                        </td>
                            </form>
                <!--Delete Button-->
                    <td class="delete">
                        <form class="actionButton" action="{{ url_for('delete_item') }}" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="delete" value="{{ ticket[0] }}">
                            <button class="delete-btn" title="Delete">&#128465;</button>
                        </form>
                    </td>
                <!--Solve Button-->
                    <td class="solve">
                        <form class="actionButton" action="{{ url_for('solve_item') }}" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="solve" value="{{ ticket[0] }}">
                            <button class="solve-btn" title="Solve">&#10004;</button>
                        </form>
                    </td>
                <!--Image-->
                    <td>
                        {% if ticket[7] %}
                            <img src="{{ url_for('static', filename=ticket[7]) }}" alt="Ticket Attachment">
                        {% endif %}
                    </td>
            <!-----------------------End of edit mode------------------>
                {% else %}
                <!--For when the list is not in edit mode-->
                    <td>{{ ticket[2] | safe}}</td>
                    <td>{{ ticket[3] | safe}}</td>
                    <td>{{ statusDict[ticket[4]] | safe}}</td>
                    <td>{{ ticket[5] | safe}}</td>
                <!--Edit Button-->
                    <td class="edit">
                        <form class="actionButton" action="{{ url_for('editItem') }}" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="edit" value="{{ ticket[0] }}">
                            <button class="edit-btn" title="Edit">&#9998;</button>
                        </form>
                    </td>
                <!--Close Button-->
                    <td class="delete">
                        <form class="actionButton" action="{{ url_for('delete_item') }}" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="delete" value="{{ ticket[0] }}">
                            <button class="delete-btn" title="Delete" onclick="return confirm('Are you sure you want to close this ticket?')">&#128465;</button>
                        </form>
                    </td>
                <!--Solve Button-->
                    <td class="solve">
                        <form class="actionButton" action="{{ url_for('solve_item') }}" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="solve" value="{{ ticket[0] }}">
                            <button class="solve-btn" title="Solve" onclick="return confirm('Are you sure you want to mark this ticket as solved?')">&#10004;</button>
                        </form>
                    </td>
                <!--Image-->
                    <td>
                        {% if ticket[7] %}
                            <img src="{{ url_for('static', filename=ticket[7]) }}" alt="Ticket Attachment">
                        {% endif %}
                    </td>
                {% endif %}
                
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}