{% extends "layout.html" %}

{% block body %}
    <div class="logoutContainer">
        <form action="{{ url_for('logout') }}" method="get" style="display: inline;">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button type="submit">Logout</button>
        </form>
        <form action="/createTicket" method="get" style="display: inline;">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button type="submit">Create Ticket</button>
        </form>
        <form action="createAdmin" method="get" style="display: inline;">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button type="submit">Create a new Admin</button>
        </form>
    </div>

    <table class="tickets">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
            <th>Priority</th>
            <th>Edit</th>
            <th>Close</th>
            <th>Solve</th>
            <th>Image</th>
        </tr>
        {% for ticket in tickets %}
        <tr>
        
        {% if ticket[0] == editIndex %}
            <!--------------------------------For when the list is in edit mode------------------------------------>
                <form action="{{ url_for('saveItem') }}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <!--Change title-->
                        <td>
                            <input type="hidden" name="editIndex" value="{{ ticket[0] | safe }}">
                            <input type="text" name="newItem" value="{{ ticket[2] | safe }}">
                        </td>
                    <!--Change description-->
                        <td>
                            <input type="text" name="newDescription" value="{{ ticket[3] | safe }}">
                        </td>
                    <!--Change status-->
                        <td>
                            <input type="text" name="newStatus" value="{{ ticket[4] | safe }}">
                        </td>
                    <!--Change priority-->
                        <td>
                            <select name="newPriority">
                                <option value="{{ priority[0] }}" {% if ticket[5] == 'Low' %}selected{% endif %}>Low</option>
                                <option value="{{ priority[1] }}" {% if ticket[5] == 'Medium' %}selected{% endif %}>Medium</option>
                                <option value="{{ priority[2] }}" {% if ticket[5] == 'High' %}selected{% endif %}>High</option>
                            </select>
                        </td>
                    <!--Submit Button-->
                        <td>
                            <button type="submit" class="save-btn" title="save">Save</button>
                        </td>
                            </form>
                <!--Delete Button-->
                    <td class="delete">
                        <form action="{{ url_for('delete_item') }}" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="delete" value="{{ ticket[0] }}">
                            <button class="delete-btn" title="Delete">&#128465;</button>
                        </form>
                    </td>
                <!--Solve Button-->
                    <td class="solve">
                        <form action="{{ url_for('solve_item') }}" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="solve" value="{{ ticket[0] }}">
                            <button class="solve-btn" title="Solve">&#10004;</button>
                        </form>
                    </td>
                <!--Image-->
                    <td>
                        {% if ticket[7] %}
                            <img src="{{ url_for('static', filename=ticket[7]) }}" style="max-height:100px;" alt="Ticket Attachment">
                        {% endif %}
                    </td>
            <!-----------------------End of edit mode------------------>
                {% else %}
                <!--For when the list is not in edit mode-->
                    <td>{{ ticket[2] | safe}}</td>
                    <td>{{ ticket[3] | safe}}</td>
                    <td>{{ ticket[4] | safe}}</td>
                    <td>{{ ticket[5] | safe}}</td>
                <!--Edit Button-->
                    <td class="edit">
                        <form action="{{ url_for('editItem') }}" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="edit" value="{{ ticket[0] }}">
                            <button class="edit-btn" title="Edit">&#9998;</button>
                        </form>
                    </td>
                <!--Close Button-->
                    <td class="delete">
                        <form action="{{ url_for('delete_item') }}" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="delete" value="{{ ticket[0] }}">
                            <button class="delete-btn" title="Delete">&#128465;</button>
                        </form>
                    </td>
                <!--Solve Button-->
                    <td class="solve">
                        <form action="{{ url_for('solve_item') }}" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="solve" value="{{ ticket[0] }}">
                            <button class="solve-btn" title="Solve">&#10004;</button>
                        </form>
                    </td>
                <!--Image-->
                    <td>
                        {% if ticket[7] %}
                            <img src="{{ url_for('static', filename=ticket[7]) }}" style="height:200px;" alt="Ticket Attachment">
                        {% endif %}
                    </td>
                {% endif %}
                
        </tr>
        {% endfor %}
    </table>
    <form action="{{ url_for("undoDelete") }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button type="submit" class="undo-btn" title="Undo Delete">Undo Delete</button>
    </form>

{% endblock %}