{% extends "layout.html" %}

{% block body %}

<table class="tickets">
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Edit</th>
        <th>Close</th>
        <th>Status</th>
        <th>Image</th>
    </tr>
    {% for ticket in tickets %}
    <tr>
        {% if ticket[0] == editIndex %}
            <form action="{{ url_for('saveItem') }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <td>
                <input type="hidden" name="editIndex" value="{{ ticket[0] }}">
                <input type="text" name="newItem" value="{{ ticket[2] }}">
        </td>
        <td>
                <input type="text" name="newDescription" value="{{ ticket[3] }}">
        </td>
        <td>
                <button type="submit" class="save-btn" title="save">Save</button>
        </td>
            </form>
        <td class="delete">
            <form action="{{ url_for('delete_item') }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" name="delete" value="{{ ticket[0] }}">
                <button class="delete-btn" title="Delete">&#128465;</button>
            </form>
        </td>
        <td>{{ ticket[4] | safe }}</td>
        <td>
        {% if ticket[7] %}
                <img src="{{ url_for('static', filename=ticket[7]) }}" style="max-height:100px;">
        {% endif %}
        </td>
        {% else %}
        
        <td>{{ ticket[2] | safe }}</td>
        <td>{{ ticket[3] | safe }}</td>
         <td class="edit">
            <form action="{{ url_for('editItem') }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" name="edit" value="{{ ticket[0] }}">
                <button class="edit-btn" title="Edit">&#9998;</button>
            </form>
        </td>
         <td class="delete">
            <form action="{{ url_for('delete_item') }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" name="delete" value="{{ ticket[0] }}">
                <button class="delete-btn" title="Delete">&#128465;</button>
            </form>
        </td>
        <td>{{ ticket[4] | safe }}</td>
        <td>
            {% if ticket[7] %}
                <img src="{{ url_for('static', filename=ticket[7]) }}" style="max-height:100px;">
            {% endif %}
        </td>
        
        {% endif %}
    </tr>
    {% endfor %}
</table>
<!--
<div class="Success button">
    <iframe width="110" height="200" src="https://www.myinstants.com/instant/borat-great-success/embed/" frameborder="0" scrolling="no"></iframe>
</div>-->

{% endblock %}