<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <Title>Piccoli Ticketi</Title>
    </head>
    <body>
        <div class="wrapper">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                <p class="{{ category }}">{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
        </div>
        {% block buttons %}
        <div class="logoutContainer">
            <form action="{{ url_for('logout') }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button type="submit">Logout</button>
            </form>
            <form action="{{ url_for('index') }}" method="get">
                <button type="submit">Back to Dashboard</button>
            </form>
            <form action="{{ url_for('createTicket') }}" method="get">
                <button type="submit">Create Ticket</button>
            </form>
            {% if status == "admin" %}
                <form action="{{ url_for('manageUsers') }}" method="get">
                    <button type="submit">Manage Users</button>
                </form>
                <form class="closedTickets" action="{{ url_for("closedTickets") }}" method="GET">
                    <button type="submit" title="View Closed Tickets">View Closed Tickets</button>
                </form>
            {% endif %}
        </div>
        {% endblock %}
        {% block body%}
        {% endblock %}
        <br><br><br>
        
    </body>
</html>